@font-face {
    font-family: "Lemon Milk";
    src: url("fonts/LEMONMILK-Light.otf") format("opentype");
}

@font-face {
    font-family: "Cheese Milky";
    src: url("fonts/Cheese Milky.otf") format("opentype");
}

@font-face {
    font-family: "Cocogoose";
    src: url("fonts/Cocogoose-Pro-Bold-trial.ttf") format("truetype");
}

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#FFf
}

body{
    font-family: "Geist", sans-serif;
}


/* Navbar */
.navbar{
    height:80px;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding:20px;

}

.navbar a{
    opacity: 0;
}
/* Navbar */


/* Logo Pojok Kanan*/
.logo{
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.logo img{
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    transition: opacity .2s ease;
}

.logo-open{
    opacity: 1;
}

.logo-close{
    opacity: 0;
}

.logo:hover .logo-open{
    opacity: 0;
}

.logo:hover .logo-close{
    opacity: 1;
}
/* Logo Pojok Kanan*/


.hero{
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Lokasi */
.header h3{
    font-size: 12;
    margin-top: -65px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Lokasi */


/* Gmail */
.header h4{
    font-size: 8px;
    color: #CFCFCF;
    text-align: center;
    font-family: "Lemon Milk";
    letter-spacing: 3px;
    margin-bottom: 50px;

}
/* Gmail */


/* Given */
.hero-content{
    display:flex;
    flex-direction:column;
    align-items:center;

}
.hero h1{
    font-family: "Cheese Milky";
    font-size: 140px;
    letter-spacing: 5px;
}
/* Given */


/* Inilah Dia Atira Jihanza */
.hero-info{
    margin-top: -70;
    display: flex;
    flex-direction: column;
    color: #CFCFCF;
    align-items: center;
    font-family: "Oswald", sans-serif;
    font-size: 120px;
    letter-spacing: 2px;
    margin-bottom: -10px;
}

hr {
    margin: -25px;
}
/* Inilah Dia Athira Jihanza */

/* About */
.subHero h3{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0;
    gap: 20px;
    margin-top: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* About */

/* Whos she */
.subHero h4{
    font-size: 8px;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    font-family: "Lemon Milk";
    color: #CFCFCF;
}
/* Whos she */


/* Foto */
.cards{
    margin-top:60px;
    position:relative;
    width:800px;
    height:320px;
    perspective: 1000px;
    transform-style:preserve-3d;
}

.card{
    position:absolute;
    margin-top: -50px;
    width:250px;
    will-change:transform;
    aspect-ratio:1 / 1;
    object-fit:cover;
    border-radius:20px;
    box-shadow: 0 12px 40px rgba(0,0,0,.15);
}

.card1{
    left:10px;
    top:60px;
    transform:rotate(-8deg);
}

.card2{
    left: 210px;
    top:0;
}

.card3{
    left:420px;
    top:50px;
    transform:rotate(7deg);
}

.card4{
    left:630px;
    top:5px;
}
/* Foto */

/* MORE */
.Content2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Content2 h1{
    font-family: "Cocogoose"
}
/* MORE */


/* Thumbnails */
.Thumbnails {
    margin-top: 50px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 100px;
    justify-content: center;
}

.Thumbnail {
    width:300px;
    backface-visibility: hidden;
    will-change:transform;
    aspect-ratio:1 / 1;
    object-fit:cover;
    border-radius:10px;
    box-shadow: 0 12px 40px rgba(0,0,0,.30);

}

.btn {
    display: flex;
    grid-column: 1 / -1;
    align-items: center;
    justify-self: center;

    padding: 14px 30px;

    border: 2px solid #000;
    border-radius: 999px;

    background: white;
    color: black;

    text-decoration: none;
    font-weight: 600;
    font-size: 16px;

    transition: all .35s ease;

    cursor: pointer;
}

.btn:hover{
    background: black;
    color: white;

    transform: translateY(-4px);
    box-shadow: 0 12px 30px rgba(0,0,0,.2);
}
